:root {
    --white: #f8fafc;
    --gray: #cbd5e1;
    --black: #000;
    --accent1: #0284c7;
    --accent2: #ca8a04;
}
body {
    background-color: var(--gray);
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
}
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "sidebar header" "sidebar main";
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--accent1);
    color: var(--white);
    font-weight: 700;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;    
    padding: 20px 0;
}
.sidebar-group {
    /* border: 2px dotted #f33a; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sidebar-group>a {
    /* border: 1px dotted #fff5; */
    display: grid;
    grid-template-columns: 25% 1fr;
}
.sidebar-group img {
    filter: invert(1); 
    max-height: 1.25rem; 
    justify-self: center;
}
.sidebar-group>a>div {align-self: center;}
.sidebar-group a {text-decoration: none; color: inherit;}
.sidebar-group.title img {max-height: 2rem;}
.sidebar-group.title {font-size: 1.5rem;}

.header {
    grid-area: header;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    box-shadow: 4px 4px 4px #0003;
    z-index: 1;
}

.header>.top {
    flex: 1;
    /* border: 1px dotted blue; */

    display: flex;
    align-items: center;
    gap: 10px;
}
button.search-icon {
    -webkit-mask-image: url(img/search.svg);
    mask-image: url(img/search.svg);
    background-color: var(--black);
    height: 20px;
    width: 20px;
}
.search-bar {
    flex: 1;
    margin-right: 10%;
    background-color: var(--gray);
    border: none;
    border-radius: 20px;
    height: 20px;
}
button.notifications {
    -webkit-mask-image: url(img/notifications.svg);
    mask-image: url(img/notifications.svg);
    background-color: var(--black);
    height: 20px;
    width: 20px;
}
button.profile-picture {
    -webkit-mask-image: url(img/profile-picture.svg);
    mask-image: url(img/profile-picture.svg);
    background-color: var(--accent2);
    height: 40px;
    width: 40px;
}
.account {font-weight: 700;}

.header>.bottom {
    flex: 1;
    /* border: 1px dotted blue; */

    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-picture-large {
    -webkit-mask-image: url(img/profile-picture.svg);
    mask-image: url(img/profile-picture.svg);
    background-color: var(--accent2);
    height: 60px;
    width: 60px;
}
.greeting {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.greeting-start {font-weight: 700; font-size: .75rem}
.greeting-name {font-weight: 700; font-size: 1.4rem}
.actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.actions>button {
    background-color: var(--accent1);
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    color: white;
    font-size: .75rem;
    font-weight: 700;
}

.main {
    grid-area: main;
    background-color: var(--gray);
    color: var(--black);

    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    padding: 20px;
    gap: 20px;
}
.main>div {border: 1px dashed black;}
.projects-group {grid-area: projects;}
.announcements-group {grid-area: announcements;}
.trending-group {grid-area: trending;}